
body{
    font: 20px Arial, sans-serif;
}



.navbar {
    background-color: #5FB404;
}

.quem-somos {
    background-color:#DCDCDC;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color:#708090 ;
}

.bg-footer{
    background-color: #000000;
    color: #FFFFFF;
}